.container-form{
    display: flex;
    justify-content: center;
    margin: 60px;
    
}
.container-location{
    margin: 10px;
}
.container-job{
    margin: 10px;
}
.container-type{
    margin: 10px;
}

.container-button{
    margin: 10px;
}
label{
    font-weight: bolder;
}
.error{
    color:red
}