 
 table{
    margin-left: 100px;
    margin-top: 50px;
 }
 
 th, td {
    
    border: 1px solid black;
   
  }
  th {
    background-color: #4CAF50;
    color: white;
  }
  tr:hover {background-color: #b9b7b7;}